#search {
    margin-top: 20px;
}

.btn-custom {
    width: 100%;
    margin-top: 25px;
}

.autocomplete li {
    cursor: pointer;
}

.autocomplete li:hover {
    background: #288bc6;
    color: #ffffff;
}